<ion-content>
    <div class="login-form">
        <div class="wrapper">
            <div class="logo">
                <img src="../../../assets/logoAzul.svg" />
            </div>
            <!-- <div class="input">
                <label>EMAIL</label>
                <input type="text">
            </div>
            <div class="input password">
                <label>SENHA</label>
                <input type="password">
                <span>Esqueci minha senha</span>
            </div>
            <div class="middle-text">
                <div (click)="isSaveEmail = !isSaveEmail">
                    <span>Salvar Email</span>
                    <div class="toggle">
                        <div class="toggleBack" [ngClass]="{'active': isSaveEmail }">
                            <div class="toggleCircle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loginButton">
                <button (click)="doLogin()">
                    <span>ACESSAR</span>
                </button>
            </div>
            <div class="bottom-text">
                <span>Ainda não tem uma conta?</span>
            </div> -->
            <div class="bottom-text">
                <span class="continuarCom">CONTINUAR COM</span>
            </div>
            <div class="logosDeLogin">
                <img (click)="tryGoogleLogin()" src="../../../assets/logoGoogle.svg" />
                <!-- <img (click)="logarComFacebook()"src="../../../assets/logoFacebook.svg"/> -->
            </div>
        </div>
    </div>
</ion-content>
